html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

.calculator {
  max-width: 360px;
  height: 640px;
  padding: 90px 22px 27px;
  border: 2px solid black;
  margin: 100px auto 0;
  background-color: #1a1b28;
  box-shadow: 0 0 30px grey;
  border-radius: 4px;
  position: relative;
}

.calculator__screen {
  max-width: 316px;
  height: 145px;
  font-weight: 700;
  text-align: right;
}

.form__result_screen {
  display: flex;
}

.form__result_symbol {
  display: flex;
  align-items: center;
  color: #52c9dc;
  font-size: 50px;
  font-weight: 700;
}

.calculator__control-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 75px;
}

.calculator__icon {
  color: #fff;
}

.calculator__input {
  color: #fff;
  font-family: inherit;
  text-align: right;
  background-color: transparent;
  border: none;
  width: 100%;
  direction: ltr;
  overflow: hidden;
}

.calculator__input:not(:focus) {
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
  text-overflow: ellipsis;
}

.calculator__result {
  font-size: 50px;
  position: relative;
  border-bottom: 1px solid #1e2435;
  line-height: 33px;
  line-height: 67px;
  padding-left: 34px;
}

.calculator__result:before {
  content: "=";
  position: absolute;
  left: 0;
  top: 0;
  color: #52c9dc;
}

.calculator__operation {
  font-size: 25px;
  margin-top: 16px;
}

.calculator__keyboard {
  display: flex;
  justify-content: space-around;
}

.calculator__column {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
}

.button {
  font-family: inherit;
  background-color: #1e2535;
  border-radius: 7px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  height: 64px;
  margin-bottom: 12px;
  transition: all 0.2s;
  width: 64px;
}

.button--blue {
  background-color: #52c9dc;
}

.button--long {
  height: 140px;
}
